@model Shopping.Models.HomeViewModel

@{
    ViewData["Title"] = "Index";
}

                        
                    </div>
                </div>
            </div>
        }
        @if (item.Product2 != null)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-title">@item.Product2.Name</div>
                    <div class="card-body">
                        <img src="@item.Product2.ImageFullPath" style="height:150px; max-width:280px;" />
                        <p class="mt-2">
                            @item.Product2.Description
                            <h4>@Html.DisplayFor(modelItem => item.Product2.Price)</h4>
                        </p>
                    </div>
                    <div class="card-foot">
                        <a asp-action="Details" asp-route-id="@item.Product2.Id" class="btn btn-secondary">Detalles</a>
                        <a asp-action="Add" asp-route-id="@item.Product2.Id" class="btn btn-primary">Agregar</a>

                    </div>
                </div>
            </div>
        }
        @if (item.Product3 != null)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-title">@item.Product3.Name</div>
                    <div class="card-body">
                        <img src="@item.Product3.ImageFullPath" style="height:150px; max-width:280px;" />
                        <p class="mt-2">
                            @item.Product3.Description
                            <h4>@Html.DisplayFor(modelItem => item.Product3.Price)</h4>
                        </p>
                    </div>

                    </div>
                </div>
            </div>
        }
                    </div>

                    </div>
                </div>
            </div>
        }
    </div>
}