@model IEnumerable<Shopping.Data.Entities.Product> //Recibe una lista de products

@{
	ViewData["Title"] = "Index";
}



<p>
	<a asp-action="Create" class="btn btn-outline-primary">Crear Nuevo</a>
</p>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Productos</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-resposive table-striped" id="MyTable">
					<thead>
						<tr>
							<th>
								@Html.DisplayNameFor(Model => Model.Name)
							</th>
							<th>
								@Html.DisplayNameFor(Model => Model.Description)
							</th>
							<th>
								@Html.DisplayNameFor(Model => Model.Price)
							</th>
							<th>
								@Html.DisplayNameFor(Model => Model.Stock)
							</th>
							<th>
								@Html.DisplayNameFor(Model => Model.CategoriesNumber)
							</th>
							<th>
								@Html.DisplayNameFor(Model => Model.ImagesNumber)
							</th>
							<th>
								@Html.DisplayNameFor(Model => Model.ImageFullPath)
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Name)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Description)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Price)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Stock)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.CategoriesNumber)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.ImagesNumber)
								</td>
								<td>
									<img src="@item.ImageFullPath" style="width:100px;" />
								</td>
								<td>
									<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fa-solid fa-pen-to-square"></i></a>
									<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fa-solid fa-circle-info"></i></a>
									<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}


	<script type="text/javascript">
		$(document).ready(function () { //Sintaxis basica de javascript de jquery
			$('#MyTable').DataTable({ //Busca la tabla MyTable
				"language": {
					"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
				},
				"aLengthMenu": [
					[25, 50, 100, 200, -1],
					[25, 50, 100, 200, "Todos"]
				]
			});
		});
	</script>
}


